**Importing Required Libraries & Understanding Data Set **

In [113]:
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors

In [114]:
movies_df = pd.read_csv('https://github.com/ArinB/MSBA-CA-Data/raw/main/CA05/movies_recommendation_data.csv',index_col='Movie Name')

In [115]:
print(movies_df.head())

                    Movie ID  IMDB Rating  Biography  Drama  Thriller  Comedy  \
Movie Name
The Imitation Game        58          8.0          1      1         1       0
Ex Machina                 8          7.7          0      1         0       0
A Beautiful Mind          46          8.2          1      1         0       0
Good Will Hunting         62          8.3          0      1         0       0
Forrest Gump              97          8.8          0      1         0       0

                    Crime  Mystery  History  Label
Movie Name
The Imitation Game      0        0        0      0
Ex Machina              0        1        0      0
A Beautiful Mind        0        0        0      0
Good Will Hunting       0        0        0      0
Forrest Gump            0        0        0      0

In [116]:
movies_df.describe()

,Movie ID,IMDB Rating,Biography,Drama,Thriller,Comedy,Crime,Mystery,History,Label
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.0
mean,48.133333,7.696667,0.233333,0.600000,0.100000,0.100000,0.133333,0.100000,0.100000,0.0
std,29.288969,0.666169,0.430183,0.498273,0.305129,0.305129,0.345746,0.305129,0.305129,0.0
min,1.000000,5.900000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,27.750000,7.300000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,48.500000,7.750000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,64.250000,8.175000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
max,98.000000,8.800000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0

In [117]:
# check for null values
print(movies_df.isnull().sum())

Movie ID       0
IMDB Rating    0
Biography      0
Drama          0
Thriller       0
Comedy         0
Crime          0
Mystery        0
History        0
Label          0
dtype: int64

**Buiding The Own Recommender System**

In [118]:
# define x and y variables
x = movies_df[['IMDB Rating', 'Biography', 'Drama', 'Thriller', 'Comedy', 'Crime', 'Mystery', 'History']]
y = movies_df.index

In [119]:
# apply NearestNeighbors function
knn = NearestNeighbors(n_neighbors=5).fit(x)

In [120]:
# genre information for movie "The Post"
the_post = [7.2, 1, 1, 0, 0, 0, 0, 1]

In [121]:
# find 5 similar movies to "The Post"
distances, indices = knn.kneighbors([the_post])

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(

In [122]:
print("Movies Recommended:")
for index in indices[0]:
    print(y[index])

Movies Recommended:
12 Years a Slave
Hacksaw Ridge
Queen of Katwe
The Wind Rises
A Beautiful Mind